.pagina-de-cadastro-cliente,
.pagina-de-cadastro-cliente * {
  box-sizing: border-box;
}
.pagina-de-cadastro-cliente {
  background: #ffffff;
  height: 1135px;
  position: relative;
  overflow: hidden;
}
.httpswww-inhotim-org-br-1-1 {
  width: 1366px;
  height: 1135px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.rectangle-7 {
  background: #552322;
  border-radius: 50px;
  width: 885px;
  height: 827px;
  position: absolute;
  left: 241px;
  top: 144px;
}
.crie-seu-pr-prio-usu-rio {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 331px;
  top: 271px;
  width: 229px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cadastra-se {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 331px;
  top: 246px;
  width: 308px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px #000000;
}
.rectangle-8 {
  background: rgba(68, 17, 187, 0);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 3px 0px;
  width: 524px;
  height: 42px;
  position: absolute;
  left: 423px;
  top: 395px;
}
.rectangle-12 {
  background: rgba(68, 17, 187, 0);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 3px 0px;
  width: 524px;
  height: 42px;
  position: absolute;
  left: 421px;
  top: 519px;
}
.rectangle-14 {
  background: rgba(68, 17, 187, 0);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 3px 0px;
  width: 524px;
  height: 42px;
  position: absolute;
  left: 421px;
  top: 643px;
}
.rectangle-9 {
  background: rgba(68, 17, 187, 0);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 3px 0px;
  width: 524px;
  height: 42px;
  position: absolute;
  left: 423px;
  top: 457px;
}
.rectangle-13 {
  background: rgba(68, 17, 187, 0);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 3px 0px;
  width: 524px;
  height: 42px;
  position: absolute;
  left: 421px;
  top: 581px;
}
.httpswww-inhotim-org-br-2-1 {
  width: 532px;
  height: 49px;
  position: absolute;
  left: 411px;
  top: 176px;
  object-fit: cover;
}
.nome {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 432px;
  top: 405px;
  width: 146px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cpf {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 436px;
  top: 529px;
  width: 222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.endere-o {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 436px;
  top: 653px;
  width: 222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.e-mail {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 438px;
  top: 464px;
  width: 222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.telefone {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 436px;
  top: 588px;
  width: 222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-11 {
  background: #d9d9d9;
  border-radius: 50px;
  width: 165px;
  height: 36px;
  position: absolute;
  left: 871px;
  top: 881px;
}
.proximo {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 922px;
  top: 888px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-18 {
  background: rgba(68, 17, 187, 0);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 3px 0px;
  width: 524px;
  height: 42px;
  position: absolute;
  left: 421px;
  top: 705px;
}
.rectangle-19 {
  background: rgba(68, 17, 187, 0);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 3px 0px;
  width: 524px;
  height: 42px;
  position: absolute;
  left: 421px;
  top: 767px;
}
.senha {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 436px;
  top: 715px;
  width: 222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.confirme-sua-senha {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 436px;
  top: 774px;
  width: 319px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-23 {
  background: rgba(217, 217, 217, 0);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 0px 5px;
  width: 81px;
  height: 138px;
  position: absolute;
  left: 331px;
  top: 238px;
}
