.pagina-de-confirmar-senha-artista,
.pagina-de-confirmar-senha-artista * {
  box-sizing: border-box;
}
.pagina-de-confirmar-senha-artista {
  background: #ffffff;
  height: 768px;
  position: relative;
  overflow: hidden;
}
.httpswww-inhotim-org-br-1-1 {
  width: 1366px;
  height: 768px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.group-35 {
  position: absolute;
  inset: 0;
}
.rectangle-7 {
  background: #552322;
  border-radius: 50px;
  width: 885px;
  height: 469px;
  position: absolute;
  left: 151px;
  top: 157px;
}
.group-34 {
  width: 720px;
  height: 396px;
  position: static;
}
.group-32 {
  width: 532px;
  height: 49px;
  position: static;
}
.httpswww-inhotim-org-br-2-1 {
  width: 532px;
  height: 49px;
  position: absolute;
  left: 336px;
  top: 193px;
  object-fit: cover;
}
.group-33 {
  width: 345px;
  height: 36px;
  position: static;
}
.rectangle-10 {
  background: #d9d9d9;
  border-radius: 50px;
  width: 165px;
  height: 36px;
  position: absolute;
  left: 789px;
  top: 553px;
}
.rectangle-11 {
  background: #d9d9d9;
  border-radius: 50px;
  width: 165px;
  height: 36px;
  position: absolute;
  left: 609px;
  top: 553px;
}
.entrar {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 848px;
  top: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.criar-conta {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 651px;
  top: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-30 {
  width: 345px;
  height: 114px;
  position: static;
}
.group-28 {
  width: 345px;
  height: 42px;
  position: static;
}
.rectangle-8 {
  background: rgba(68, 17, 187, 0);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 3px 0px;
  width: 345px;
  height: 42px;
  position: absolute;
  left: 609px;
  top: 316px;
}
.senha {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 609px;
  top: 328px;
  width: 181px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-29 {
  width: 345px;
  height: 42px;
  position: static;
}
.rectangle-9 {
  background: rgba(68, 17, 187, 0);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 3px 0px;
  width: 345px;
  height: 42px;
  position: absolute;
  left: 609px;
  top: 388px;
}
.confirme-sua-senha {
  color: #ffffff;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 609px;
  top: 398px;
  width: 181px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-31 {
  width: 337px;
  height: 139px;
  position: static;
}
.crie-seu-pr-prio-usu-rio {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 248.38px;
  top: 328.65px;
  width: 267.8px;
  height: 103.51px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cadastrar-se {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: 248.38px;
  top: 304px;
  width: 322.62px;
  height: 75.91px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-text-stroke: 1px #000000;
}
.rectangle-24 {
  background: rgba(217, 217, 217, 0);
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 0px 5px;
  width: 237.25px;
  height: 136.04px;
  position: absolute;
  left: 234px;
  top: 306.96px;
}
